.vscode/bookmarks.json
.vscode/settings.json
__pycache__/BMS_GUI.cpython-310.pyc
__pycache__/communication.cpython-310.pyc
__pycache__/util.cpython-310.pyc
__pycache__/BMS_mainWindow.cpython-310.pyc
graph.py
